/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0px;
}
#Header{
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #121135;
  justify-content: space-between;
}
#Header .title{
  color: #ffff;
  text-decoration: unset;
  margin: 0;
  padding: 0 1rem;
}

#Header .Auth-Options{
  height: 100%;
  display: flex;
}

#Header .Auth-Options button{
  padding: 0 1rem;
  color: #ffff;
  background-color: #121135;
  border: none;
}
#Header .Auth-Options button:hover{
  background-color: rgb(17, 110, 95);
}

@media screen and (max-width: 750x){
  #Header .title{
    font-size: 1.2rem;
  }
}